{% extends "base.html" %}

{% block title %}
  answer
{% endblock %}


{% block content %}
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            {% for item in object_list %}
        {{item.question}}
         <hr>
             {{item.answer}} {{item.answer.is_correct}}
            <hr>
            {{item.question.explanation}}
            <hr>

            <a href="{% url 'civics:question' pk=item.id %}">
            <button type="submit" class="btn btn-primary">Next question</button>
                 </a>



        {% endfor %}






        </div>
      </div>
{% endblock %}
